<%= form_for(@badge , html: { multipart: true }) do |f| %>
  <% if @badge.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@badge.errors.count, "error") %> prohibited this badge from being saved:</h2>

      <ul>
      <% @badge.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="form-group">
    <%= f.label :Title %><br>
   <%= f.text_field :title %>
   <br>
   <br>

</div>


    <div class="field">
    <%= f.label :Image %><br>
    <%= f.file_field :image_url, accept: 'image/jpeg,image/gif,image/png ,image/bmb, image/icon' %>

   <br>
   <br>
    </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<script type="text/javascript">
  $('#badge_image_url').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 2) {
      alert('Maximum file size is 2MB. Please choose a smaller file.');
      $('#badge_image_url').val("");
    }
  });
</script>