<div ng-app="codeGamed" class="admin-form">
  <md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding>

<%= form_for(@level) do |f| %>
  <% if @level.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@level.errors.count, "error") %> prohibited this level from being saved:</h2>

      <ul>
      <% @level.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="form-group">
    <%= f.label :Badge %><br>
   <%= collection_select(:level, :badge_id,Badge.all, :id, :title ,:prompt => false,:class => 'form-control') %>
   <br>
   <br>

</div>


    <div class="field">
    <%= f.label :Order %><br>
   After Level: <%= collection_select(:level, :order,Level.order("levels.order").all, :order,:order ,:prompt => false,:class => 'form-control') %>
   <br>
   <br>
    <%#=Level.maximum("order")%>

    </div>
  <div class="actions">
          <md-button class="md-raised md-warn"> <%= f.submit %></md-button>
             <md-button class="md-raised"><%= link_to 'All Badges', badges_path %></md-button>

  </div>

<% end %>

</div>
</div>

<script src="/form_theme.js">
</script>


