
        <div ng-app="codeGamed">
          <p id="notice"><%= notice %></p>
          <h1>Listing Levels</h1>
          <md-button class="md-raised"><%= link_to 'New Level', new_level_path %></md-button>
          <md-button class="md-raised"><%= link_to 'New Mission', new_mission_path %></md-button>
          <md-button class="md-raised"><%= link_to 'New Badge', new_badge_path %></md-button>
          <md-button class="md-raised"><%= link_to 'All Badges', badges_path %></md-button>
    <div ng-controller="allLevelsCtrl" layout="column" ng-cloak>
  <md-content class="md-padding" layout="column">

      <% @levels.each do |level| %>
        <div class="lock-size" layout="row" layout-align="left">
        <md-fab-speed-dial md-open="false" md-direction="right"
                         ng-class="'md-scale'">
        <md-fab-trigger>
          <md-button aria-label="menu" class="md-fab md-warn">
            <md-title>L:<%= level.order %> </md-title>
          </md-button>
        </md-fab-trigger>
        <md-fab-actions>
          <md-title><%= level.badge.title %></md-title>
          <div>
           <md-button class="md-raised">  <%= link_to 'Edit Level', edit_level_path(level) %></md-button>
           <md-button class="md-raised">  <%= link_to 'New Mission', new_mission_path %></md-button>
           <md-button class="md-raised">  <%= link_to 'New Test Case', new_test_case_path %></md-button>
         </div>

          <table border="1">
            <thead>
            <tr>
              <th>ID</th>
              <th>Level</th>
              <th>Order</th>
              <th>Problem</th>
              <th>Score</th>
              <th>Video URL</th>
              <th colspan="1">Actions</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
            <% level.missions.each do |mission| %>
                <tr>
                <td><%= mission.id %></td>
                <td><%= mission.level.order %></td>
                <td><%= mission.order %></td>
                <td><%= mission.problem.html_safe %></td>
                <td><%= mission.score %></td>
                <td><%= mission.video_url %></td>
                <td> <md-button class="md-raised"><%= link_to 'Edit', edit_mission_path(mission) %> </md-button></td>
                </tr>
          <% end %>
            </table>
        </md-fab-actions>
      </md-fab-speed-dial>
        </div>
      <% end %>

  </md-content>
</div>


</div>