<div ng-app="codeGamed" class="admin-form">
  <md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding>
<%= form_for(@test_case) do |f| %>
  <% if @test_case.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@test_case.errors.count, "error") %> prohibited this test case from being saved:</h2>

      <ul>
      <% @test_case.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="form-group">
    <%= f.label :Mission_ID  %><br>
   <%= collection_select(:test_case, :mission_id,Mission.all, :id, :id ,:prompt => false,:class => 'form-control') %>
   <br>
   <br>

</div>




            <div class="field">
             <md-input-container class="md-block" >
               <%= f.label :Input %><br>
               <%= f.text_area :input,:class => ' form-control' %>
                                               </md-input-container>
                <br>
                <br>
            </div>

            <div class="field">
                      <div class="field">
                                 <md-input-container class="md-block" >
               <%= f.label :Output %><br>
               <%= f.text_area :output,:class => ' form-control' %>
                                   </md-input-container>
                <br>
                <br>
            </div>
  <div class="actions">
          <md-button class="md-raised md-warn"> <%= f.submit %></md-button>
  </div>
<% end %>
          <md-button class="md-raised"> <%= link_to 'Show Test Cases', test_cases_path %></md-button>
          <md-button class="md-raised"> <%= link_to 'Show All Missions', missions_path %></md-button>
          <md-button class="md-raised"> <%= link_to 'New Mission ', new_mission_path %></md-button>

</div>
</div>
<script src="/form_theme.js">
</script>

