
<div ng-app="codeGamed" class="admin-form">
  <md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding>

<%= form_for(@mission) do |f| %>
  <% if @mission.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mission.errors.count, "error") %> prohibited this mission from being saved:</h2>

      <ul>
      <% @mission.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="form-group">
    <%= f.label :Level %><br>
   <%= collection_select(:mission, :level_id,Level.order("levels.order").all, :id, :order ,:prompt => false,:class => 'form-control',:selected =>1) %>
</div>
<br><br>
      <div class="field">

                  <md-input-container class="" >
                       <%= f.label :Score %>
                       <%= f.number_field :score%>
                       </md-input-container>
         </div>


    <div class="field">

                  <md-input-container class="" >
    <%= f.label :Order %>
    <%= f.number_field :order%>
    <br>
      <div class="hint">you can leave it blank if want to make it the last one!</div>
    </md-input-container>
</div>


       <div class="field">
                  <md-input-container class="md-block" flex-gt-sm">
        <%= f.label :Video_URL  %>
        <%= f.text_field :video_url,:placeholder=>"http://youtube.com/"%>
                            </md-input-container>


      </div>

            <div class="field">
                  <md-input-container class="md-block" >
               <%= f.label :Initial_Code %><br>
               <%= f.text_area :initial_code ,:rows=>10 %>
                    </md-input-container>
                <br>
                <br>
            </div>
      <div class="field">
         <%= f.label :Problem %><br>
         <%= f.text_area :problem ,:class => 'ckeditor form-control' %>

      </div>
  <div class="actions">
          <md-button class="md-raised md-warn"> <%= f.submit %></md-button>


  </div>
<% end %>
 </md-content>
</div>
<script src="/form_theme.js">
</script>